@use '@/app/globals.scss' as *;

.navbar-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    background-color: white;
    // position: fixed;


    .search-bar {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: 2rem;
        border: 1.5px solid var(--color-gray-300);
        padding: 0 1rem;

        input {
            height: 3rem;
            width: 15rem;
            padding: 0.5rem;
            font-size: 2.2rem;
            background: transparent;
            border: none;
            outline: none;
            font-size: 1.4rem;

            &::placeholder {
                color: #9ca3af;
            }
        }

        img {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    .icon-container {
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: flex-end;
        width: 100%;

        .icon {
            background: #ffffff;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;

            img {
                width: 2rem;
                height: 2rem;
            }

            &.with-notification {
                .notification-badge {
                    position: absolute;
                    top: -0.5rem;
                    right: -0.5rem;
                    width: 1.6rem;
                    height: 1.6rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #9333ea; // Màu tím
                    color: #ffffff;
                    border-radius: 50%;
                    font-size: 0.9rem;
                }
            }
        }
    }

    .user-info {
        display: flex;
        flex-direction: column;
        text-align: right;

        .user-name {
            font-size: 1.6rem;
            line-height: 1.2rem;
            font-weight: 500;
        }

        .user-role {
            font-size: 1.2rem; // 12px
            color: #9ca3af; // Màu xám chữ
        }
    }

    .avatar {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
    }

    @include resLAP-1024() {
        .search-bar {
            display: flex;
            gap: 1rem;
        }

        .icon-container .icon.with-notification .notification-badge {
            display: flex;
        }
    }

    @include resTL-768() {
        .search-bar {
            display: none;
        }
    }
}