@use "@/app/globals.scss" as *;

.home-container {
    width: 100%;
    height: calc(100vh - 20rem);
    padding: 0 10rem;
    margin-top: 1rem;

    .box-btn-option {
        display: flex;
        margin: 4rem auto 0 auto;
        justify-content: center;
        align-items: center;
    }

    .box-product-item {
        .product-item-title {
            text-align: center;
            font-size: 4.8rem;
            font-weight: 700;
            color: #041675;
            text-transform: capitalize;
        }

        // .product-btn-more {
        //     display: none;
        // }

        .custom-carousel {

            .slick-slide {
                padding: 0 4px;

                div {
                    width: 100%;
                }
            }
        }
    }

    @include resLAP-1024() {
        .box-product-item {
            .product-item-title {
                text-align: center;
                font-size: 4.8rem;
                font-weight: 700;
                color: #041675;
                text-transform: capitalize;
            }

            .custom-carousel {
                width: calc(100% - 2rem);
                margin: 0 auto;

                .slick-slide {
                    padding: 0 4px;

                    div {
                        width: 100%;
                    }
                }
            }
        }
    }



}