@use '@/app/globals.scss' as *;

.admin-layout {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;


    &-left {
        width: 66.6667%;
        display: flex;
        flex-direction: column;
        gap: 1rem;


        .section-chart {
            display: flex;
            gap: 2rem;


            .chart-count {
                width: 33.3333%;
                height: 40rem;
            }

            .chart-attendance {
                width: 66.6667%;
                height: 40rem;
            }
        }

        .user-cards {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &-right {
        width: 33.3333%;

    }

    @include resLAP-1024() {
        flex-direction: column;

        &-left {
            width: 100%;

            .section-chart {
                // flex-direction: column;

                .chart-count {
                    width: 33.3333%;
                }
            }
        }

        &-right {
            width: 100%;
        }
    }
}