@use "@/app/globals.scss" as *;

.detail-container {
    height: auto;
    width: auto;
    margin: 4rem auto;

    .box-detail {
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        height: 100%;
        width: 100%;
        gap: 1rem;
        border-bottom: 1px solid var(--color-gray-300);

        &-left {
            height: auto;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 4rem;

            .image-big {
                height: 55rem;
                width: 100%;

                img {
                    margin: 0 auto;
                    height: 100%;
                    width: 95%;
                    object-fit: cover;
                }
            }

            .image-small {
                margin-top: 2rem;
                height: 18rem;
                max-width: 70rem;

                .custom-carousel {
                    padding: 0 5px;

                    .slick-slider {
                        padding: 0 !important;

                        .slick-list {
                            .slick-track {
                                display: flex;
                                gap: 1rem;
                            }
                        }
                    }

                    .card-item {
                        cursor: pointer;

                        &.blurred {
                            opacity: 0.5;
                            transform: scale(0.9);
                        }

                        &.active {
                            opacity: 1;
                            transform: scale(1);
                            border: none;
                            outline: none;
                            box-shadow: rgba(207, 16, 45, 0.2) 0px 3px 8px;
                        }

                        img {
                            height: 18rem;
                            width: 18rem;
                            object-fit: cover;
                        }
                    }
                }
            }
        }

        &-right {
            height: auto;
            width: 100%;
            border-bottom: 1px solid var(--color-gray-200);

            .detail-prod {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                gap: 1.5rem;

                //
                .box-prod-title {
                    display: flex;
                    align-items: flex-start;

                    .name-prod {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 32px;
                        text-transform: capitalize;
                        color: #111;
                    }

                    .icon-favourite {
                        margin-top: 5px;
                    }
                }

                //
                .box-prod-origin {
                    display: flex;
                    gap: 3rem;
                    align-items: center;

                    .trademark {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        &-title {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 1.4rem;
                            line-height: 20px;
                            color: #111;
                            margin: 0;
                        }

                        &-name {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 1.4rem;
                            line-height: 20px;
                            color: #041675;
                            text-decoration: underline;
                        }
                    }

                    .sku {
                        &-number {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 1.4rem;
                            line-height: 20px;
                            color: #111;
                            margin: 0;
                        }
                    }
                }

                //
                .box-prod-price {
                    .price-normal-container {
                        margin: 1.2rem 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .price-normal-left {
                            display: grid;
                            grid-template-columns: 25% 70%;
                            align-items: center;
                            width: 100%;

                            .price-normal {
                                margin: 1rem 0;

                                &-title {
                                    font-style: normal;
                                    font-weight: 300;
                                    font-size: 1.5rem;
                                    line-height: 20px;
                                    color: #111;
                                    margin: 0;
                                }

                                &-value {
                                    font-style: normal;
                                    font-weight: 300;
                                    font-size: 2rem;
                                    line-height: 24px;
                                    text-transform: capitalize;
                                    color: #cf102d;
                                    margin-right: 8px;
                                }
                            }

                            .price-old {
                                color: #8f8f8f;
                                font-weight: 400;
                                font-size: 1.6rem;
                                line-height: 20px;
                                word-wrap: nowrap;
                                text-transform: capitalize;
                            }
                        }

                        .price-normal-right {
                            .price-sale {
                                display: block;
                                color: var(--color-white);
                                font-weight: 600;
                                padding: 1rem 2rem;
                                border-radius: 1.2rem;
                                font-size: 1.4rem;
                                background-color: #c53f38;
                            }
                        }
                    }
                }

                //
                .box-prod-policy {
                    .policy-items {
                        display: flex;

                        .item-content {
                            margin-left: 1.2rem;
                            margin-bottom: 1.3rem;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.5rem;
                            line-height: 20px;
                            color: #111;
                        }

                        .item-icon {
                            svg {
                                height: 1.5rem;
                                width: 1.5rem;
                            }
                        }
                    }
                }

                //

                .box-prod-control {
                    h1 {
                        font-size: 2rem;
                        font-weight: 600;
                    }

                    .btn-control {
                        margin-top: 1rem;
                        height: 5rem;
                        display: grid;
                        grid-template-columns: 1.4fr 2fr;
                        gap: 1rem;

                        .custom-button {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .description-prod {
        margin-top: 1rem;

        .title {
            margin: 3rem 0 1rem 0;
            font-size: 2.4rem;
            font-weight: 600;
        }

        .name-prod {
            margin: 2rem 0;
            font-size: 2.4rem;
            font-weight: 600;
        }
    }

    @include resBLAP-1440() {
        .box-detail {
            &-left {
                .image-small {
                    max-width: 55rem;
                }
            }
        }
    }

    @include resLAP-1024() {
        .box-detail {
            grid-template-columns: 1fr;

            &-left {
                .image-small {
                    max-width: 80vw;

                    .custom-carousel {
                        padding: 0 5px;

                        .custom-prev-arrow,
                        .custom-next-arrow {
                            top: 45%;
                        }

                        .card-item {
                            img {
                                height: 20rem;
                                width: 20rem;
                            }
                        }
                    }
                }
            }

            // --------------------------------------------------
            &-right {
                height: auto;
                width: 100%;
                border-bottom: 1px solid var(--color-gray-200);

                .detail-prod {

                    //
                    .box-prod-title {
                        justify-content: space-between;

                        .name-prod {
                            font-size: 2.6rem;
                        }

                        .icon-favourite {
                            margin-top: 0;
                        }
                    }

                    //
                    .box-prod-origin {
                        gap: 4rem;

                        .trademark {
                            gap: 1rem;

                            &-title {
                                font-style: normal;
                                font-weight: 300;
                                font-size: 1.6rem;
                                color: #111;
                                margin: 0;
                            }

                            &-name {
                                font-size: 1.4rem;
                            }
                        }

                        .sku {
                            &-number {
                                font-size: 1.5rem;
                            }
                        }
                    }

                    //
                    .box-prod-price {
                        .price-normal-container {
                            margin: 1.2rem 0;

                            .price-normal-left {
                                grid-template-columns: 15% 70%;
                            }
                        }
                    }

                    //
                    .box-prod-control {
                        .btn-control {
                            width: 70%;
                        }
                    }
                }
            }
        }
    }

    @include resTL-768() {
        .box-detail {
            &-right {
                .detail-prod {

                    //
                    .box-prod-price {
                        .price-normal-container {
                            margin: 1.2rem 0;

                            .price-normal-left {
                                grid-template-columns: 18% 70%;
                                gap: 0;
                            }
                        }
                    }

                    //
                    .box-prod-control {
                        .btn-control {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    @include resMB-425() {
        .box-detail {
            grid-template-columns: 1fr;

            &-left {
                .image-small {
                    max-width: 70vw;
                    height: 4rem;

                    .custom-carousel {
                        padding: 0 5px;

                        .custom-prev-arrow,
                        .custom-next-arrow {
                            top: 35%;
                            padding: 2px;
                        }

                        .card-item {
                            img {
                                height: 8rem;
                                width: 8rem;
                            }
                        }
                    }
                }
            }

            &-right {
                .detail-prod {

                    //
                    .box-prod-origin {
                        .trademark {
                            .trademark-title {
                                font-size: 1.2rem;
                            }

                            .trademark-name {
                                font-size: 1.4rem;
                            }
                        }

                        .sku {
                            .sku-number {
                                font-size: 1.2rem;
                            }
                        }
                    }

                    //
                    .box-prod-title {
                        display: grid;
                        grid-template-columns: 90% 10%;

                        .name-prod {
                            font-size: 2rem;
                            font-weight: 600;
                        }

                        .icon-favourite {
                            margin-top: 5px;
                        }
                    }

                    //
                    .box-prod-control {
                        .btn-control {
                            display: flex;
                            width: 100%;
                            flex-direction: column;
                        }
                    }

                    //
                    .box-prod-price {
                        .price-normal-container {
                            .price-normal-left {
                                grid-template-columns: 40% 60%;
                                align-items: center;

                                .price-normal-title {
                                    text-align: left;
                                    font-size: 1.2rem;
                                }

                                .group-price {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;

                                    .price-normal-value {
                                        font-size: 1.4rem;
                                    }

                                    .price-old {
                                        font-size: 1.2rem;
                                    }
                                }
                            }

                            .price-normal-right {
                                padding: 0.5rem 1.3rem 0.6rem;

                                .price-sale {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }

                    //
                    .box-prod-policy {
                        .policy-items {
                            display: flex;

                            .item-content {
                                font-size: 1.2rem;
                            }

                            .item-icon {
                                svg {
                                    height: 1.4rem;
                                    width: 1.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}