@use '@/app/globals.scss' as *;

.dashboard-layout {
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;

    .dashboard-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 14%;
        background: #ffff;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 1rem;

            img {
                width: 32px;
                height: 32px;
                object-fit: contain;
                transition: transform 0.3s ease;
            }

            .logo-text {
                font-size: 2rem;
                font-weight: 500;
                transition: opacity 0.3s ease;
            }
        }
    }

    .dashboard-content {
        margin-left: 14%;
        width: 86%;
        background-color: var(--color-white);
    }

    @include resBLAP-1440() {
        .dashboard-sidebar {
            width: 8%;
        }

        .dashboard-content {
            margin-left: 8%;
            width: 92%;
        }
    }

    @include resLAP-1024() {
        .dashboard-sidebar {
            width: 16%;

            .logo {
                .logo-text {
                    display: none;
                }

                img {
                    transform: scale(0.9);
                }
            }
        }

        .dashboard-content {
            margin-left: 16%;
            width: 84%;
        }
    }

    @include resTL-768() {
        .dashboard-sidebar {
            width: 14%;

            .logo {
                img {
                    transform: scale(0.8);
                }
            }
        }

        .dashboard-content {
            margin-left: 14%;
            width: 86%;
        }
    }

    @include resMB-425() {
        .dashboard-sidebar {
            .logo {
                img {
                    transform: scale(1.8);
                }
            }
        }

        .dashboard-content {
            margin-left: 14%;
        }
    }
}