.login-container {
    margin: 0 auto;
    // background-color: red;
    display: flex;
    justify-content: center;
    padding: 4rem 1.5rem 0;

    .box-login {
        width: 35rem;

        .login-title {
            text-align: center;
            font-size: 4.8rem;
            font-weight: 700;
            color: #041675;
            text-transform: capitalize;
            font-family: Helvetica;
        }

        .login-form {
            .box-form-password {
                margin-top: 3rem;
            }
        }

    }

}