@use '@/app/globals.scss' as *;

.admin-layout {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;


    &-left {
        width: 66.6667%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .section-top-chart {
            display: flex;
            height: auto;
            gap: 1rem;

            .chart-count {
                width: 33.3333%;
                height: 100%;
            }

            .chart-attendance {
                height: 100%;
                width: 66.6667%;
            }
        }

        .section-bottom-chart {
            width: 100%;
            height: 100%;
        }

        .user-cards {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &-right {
        width: 33.3333%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @include resLAP-1024() {
        flex-direction: column;

        &-left {
            width: 100%;

            .section-top-chart {

                .chart-count {
                    width: 33.3333%;
                }
            }
        }

        &-right {
            width: 100%;
        }
    }

    @include resMB-425() {
        &-left {
            width: 100%;

            .section-top-chart {
                flex-direction: column;

                .chart-count {
                    width: 100%;
                }

                .chart-attendance {
                    width: 100%;
                }
            }
        }

        &-right {
            width: 100%;
        }
    }
}