.public-layout {
    height: auto;
    width: auto;
    // background: url("../../../../assets/common/icon-public/jpg/Background_mykingdom.webp") center / cover no-repeat;
    background-attachment: fixed;
}


main {
    padding-top: 20rem;
}