@use '@/app/globals.scss' as *;

.list-user-container {
    margin: 1rem;
    height: 100vh;
    background-color: var(--colo-white);
    border: var(--border-radius);

    .box-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            display: block;
            white-space: nowrap;
            font-size: 1.6rem;
            font-weight: 600;
        }

        .box-top-search {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;
            justify-content: flex-end;

            .search-item {
                display: flex;
                gap: 1rem;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: yellow;
                    border-radius: 10rem;
                    height: 3.5rem;
                    width: 3.5rem;
                }
            }

        }
    }


    @include resLAP-1024() {}

    @include resTL-768() {
        .box-top {
            width: 100%;
            display: block;

            h1 {
                display: none;
            }

            .box-top-search {
                width: 100%;
                display: block;
                flex-direction: row;

                .search-item {
                    display: flex;
                    padding-top: 5px;
                    padding-right: 1rem;
                    justify-self: flex-end;
                }
            }
        }
    }
}