@use '@/app/globals.scss' as *;

.account-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 4rem 1.5rem 0;

    .box-account {
        width: 100%;

        .account-title {
            text-align: center;
            font-size: 4.8rem;
            font-weight: 700;
            color: #041675;
            text-transform: capitalize;
            font-family: Helvetica;
        }

        .box-information {
            display: grid;
            grid-template-columns: 22% 65%;
            gap: 3.2rem;
            height: auto;
            min-height: calc(100vh - 60rem);

            .info-option {
                background-color: var(--color-gray-200);
                overflow: hidden;
                border-radius: 1.6rem;
                overflow: hidden;

                .option-header {
                    height: 55px;
                    background-color: var(--color-background-global);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        font-size: 1.8rem;
                        color: var(--color-white);
                        font-weight: 600;

                    }
                }

                .option-body {
                    .option-box {
                        padding: 1.6rem;

                        &-item {
                            font-size: 1.4rem;
                            padding: 8px 16px;
                            color: var(--color-black);
                            font-weight: 700;
                            border-radius: 8px;

                            &:not(:first-child) {
                                margin-top: 1.6rem;
                            }

                            &:hover {
                                cursor: pointer;
                                background-color: var(--color-white);
                            }
                        }

                    }

                    .option-responsive {
                        display: none;
                    }
                }
            }

            .info-desc {
                padding: 1.6rem;
                border: 2px solid var(--color-gray-200);
                height: 90%;
                border-radius: 1.6rem;

                .desc-title {
                    color: #041675;
                    margin-bottom: 2.4rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    text-transform: capitalize;
                }

                .dest-box-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2rem;

                    .content-item {
                        .content-label {
                            font-size: 1.4rem;
                            color: var(--color-gray-300);
                        }

                        h1 {
                            margin-top: 8px;
                            font-size: 1.4rem;
                            font-weight: 600;
                        }
                    }
                }

            }
        }
    }

    @include resLAP-1024() {
        .box-account {
            .account-title {
                font-size: 2.5rem;
                margin-bottom: 4rem;
            }

            .box-information {
                display: flex;
                flex-direction: column;

                .info-option {
                    .option-body {
                        .option-box {
                            display: none;
                        }

                        .option-responsive {
                            display: block;
                            padding: 1.6rem;
                        }
                    }
                }

            }
        }
    }



}