.product-container {
    margin: 2rem auto;
    width: 100%;
    height: auto;

    .wrapper-container {
        width: 100%;
        display: grid;
        grid-template-columns: 20% 80%;
        height: auto;
        gap: 2rem;
        align-items: start;

        .box-control {
            height: auto;
            // background-color: blue;
        }

        .box-product {
            height: auto;
            padding: 0 1rem;
        }
    }
}